.log {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Schattierung */
  max-width: 1500px; /* Maximale Breite, um die Lesbarkeit zu verbessern */ /* Maximale Breite, um die Lesbarkeit zu verbessern */
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  background-color: transparent;
  box-shadow: var(--borderpicturesize) var(--sundaysplit);
  margin-top: 50px;
}

.log h1 {
  font-size: var(--fontsizeheadline);
  margin-bottom: 20px;
  text-align: center;
}

.log h2 {
  font-size: var(--font-sizetext);
  color: #ffffff;
  text-align: center;
}

.log h3 {
  font-size: var(--font-sizetext);
  color: #ffffff;
  margin-bottom: 10px;
}

.log a {
  color: var(--sundaysplit);
  text-decoration: none;
}

.log a:hover {
  text-decoration: underline;
  color: #000000;
}

@media (max-width: 850px) {
  .log h1 {
    font-size: var(--font-sizetext);
  }

  section {
    padding: 20px;
    width: 80%;
    margin-top: 20px;
  }
}
