year-button:hover {
      color: var(--fridaysplit);
    }
  .timeline-line {
  background: var(--fridaysplit);
}
.info-box {
  border: 2px solid var(--fridaysplit);
}
.active-dot {
  background-color: var(--fridaysplit);
}
.carousel-btn {
  background-color: var(--fridaysplit);
}
.team-card {
border-left: 4px solid var(--fridaysplit);
border-right: 4px solid var(--fridaysplit);
}
