:root {
  --font-sizetext: 20px;
}

/* Hauptbereich zentrieren */
main {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  /* padding: 20px; */
  text-align: left;
  padding: 0 18vw;
}

.blocktext {
  font-size: var(--font-sizetext);
  margin: 20px 0 40px 0;
}

h2 {
  font-size: 50px;
}

details {
  align-items: center;
  justify-content: center;
  box-shadow: var(--borderpicturesize) var(--icons);
  border-radius: var(--borderpictureradius);
  border: 1px solid #ccc;
  margin-bottom: 50px;
  padding: 0 50px;
}

details:hover {
  cursor: pointer; /* Zeigt eine Hand an, wenn man über den Button fährt */
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Schatten für Hover-Effekte */
}

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

@media (max-width: 768px) {
  h2 {
    font-size: 21px;
  }

  details {
    padding: 0 20px;
  }
}
