.Angaben {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Schattierung */
  max-width: 1500px; /* Maximale Breite, um die Lesbarkeit zu verbessern */ /* Maximale Breite, um die Lesbarkeit zu verbessern */
  margin-left: auto;
  margin-right: auto;
  padding: 60px;
  background-color: transparent;
  box-shadow: var(--borderpicturesize) var(--sundaysplit);
  font-family: var(--fontfamilytext);
  margin-top: 50px;
}

.Angaben h1 {
  font-size: var(--fontsizeheadline);
  margin-bottom: 40px;
  text-align: center;
}

.Angaben h2 {
  font-size: var(--font-sizetext);
  color: #ffffff;
}

.Angaben h3 {
  font-size: var(--font-sizetext);
  color: #ffffff;
  margin-bottom: 10px;
}

.Angaben a {
  color: var(--sundaysplit);
  text-decoration: none;
}

.Angaben a:hover {
  text-decoration: underline;
  color: #000000;
}

@media (max-width: 850px) {
  .Angaben h1 {
    font-size: var(--font-sizetext);
  }

  .Angaben {
    padding: 20px;
    max-width: 100%;
    margin-top: 20px;
  }
}
