year-button:hover {
      color: var(--saturdaysplit);
    
    }

  .timeline-line {
 
  background: var(--saturdaysplit);

}
.info-box {

  border: 2px solid var(--saturdaysplit);
}
.active-dot {
  background-color: var(--saturdaysplit);
}

.carousel-btn {
  
  background-color: var(--saturdaysplit);
  
}
.team-card {
border-left: 4px solid var(--saturdaysplit);
border-right: 4px solid var(--saturdaysplit);
}

.middle-carousel {
    width: 800px;
  height: 800px;
  text-align: center;
 margin-bottom: 200px;
}

.middle-carousel .carousel,
.middle-carousel .carousel-track-container,
.middle-carousel .carousel-track img {
  width: 800px;
  height: 800px;
  border-radius: 20px;
 
}  

