body {
  top: 0;
  left: 0;
  width: auto;
  /* padding: 0 18vw; */
}

/* Variablen*/
:root {
  --backgroundcolor: #171717;
  --fridaysplit: rgba(59, 201, 31, 1);
  --saturdaysplit: #2d36cb;
  --sundaysplit: #29e0e1;
  --endurance: #e66a03;
  --wdl: #be1d1d;  
  --wdlblue: #429396;
  --ligaleiter: #ff0000;
  --administration: #fff318;
  --recruitingadm: #fdcf00;
  --rennleitungsvorsitz: #992d22;
  --fontfamilyheadline: "Playpen Sans";
  --fontfamilytext: "Concert One", sans-serif;
  --fontsizeheadline: 110px;
  --font-sizetext: 28px;
  --borderpictureradius: 40px;
  --borderpicturesize: 0 8px 32px 0;
}

/* NAVIGATION DEFAULT FOR EVERY PAGE */

/* Grundlegendes Styling für die Navigation */
.navbar {
  display: flex;
  flex-wrap: wrap; /* Erlaubt Umbrüche bei Bedarf */
  justify-content: space-between;
  align-items: center;
  background-image: url(../resources/pictures/general/headers/startseite.png);
  background-size: cover;
  padding: 10px;
  position: relative;
  list-style: none;
  height: auto; /* Höhe anpassen, damit sie sich an den Inhalt anpasst */

}

/* Logo-Design */
.logo img {
  width: 120px;
  transition: transform 0.3s ease; /* Sanfte Vergrößerung beim Hover */
  margin-left: 10px;
 
}

/* Menü-Button für mobile Ansicht */
.menu-toggle {
  display: none; /* Standardmäßig versteckt */
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #fff;
}

/* Zentrierte Navigationslinks */
.nav-links {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Navigationslink-Styling */
.nav-links li {
  position: relative;
  margin: 0 15px;
  list-style-type: none;
  transition: transform 0.3s ease; /* Sanfte Bewegungseffekte */
  font-family: var(--fontfamilytext);
  font-size: 28px;
}

.nav-links li:hover {
  transform: translateY(-3px); /* Leichtes Anheben beim Hover */
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  font-size: 1.1em;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; /* Sanfte Übergänge */
  text-align: center; /* Zentriert den Text */
  border-radius: 5px; /* Runde Ecken */
}

/* Dropdown-Menü Styling */
.dropdown-content {
  display: none;
  position: absolute;
  top: 100%; /* Positioniert das Dropdown direkt unter dem Parent */
  left: 0; /* Stellt sicher, dass es am linken Rand des Parent beginnt */
  background-color: black;
  min-width: 180px;
  z-index: 1;
  opacity: 0;
  transform: translateY(10px); /* Startet das Dropdown leicht versetzt */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Sanfte Einblend- und Ausblend-Effekte */
  text-align: center; /* Text im Dropdown zentrieren */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Schatten für visuelle Tiefe */
  padding: 0; /* Entfernt zusätzliche Polsterung */
  margin: 0; /* Entfernt zusätzliche Margen */
}

/* Dropdown-Links Styling */
.dropdown-content li {
  margin: 0; /* Entfernt zusätzliche Margen */
}

.dropdown-content a {
  padding: 12px 15px;
  color: #fff;
  display: block;
  transition: background-color 0.3s ease, transform 0.2s ease; /* Sanfte Übergänge */
}

/* Dropdown bei Hover anzeigen */
.nav-links li:hover .dropdown-content {
  display: block;
  opacity: 1;
  transform: translateY(0); /* Dropdown bewegt sich nach oben */
}

/* Hover-Effekte für Text */
.text1:hover {
  transform: translateX(5px); /* Leichtes Verschieben beim Hover */
  background-color: var(--fridaysplit);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Schatten für Hover-Effekte */
}

.text2:hover {
  transform: translateX(5px); /* Leichtes Verschieben beim Hover */
  background-color: var(--saturdaysplit);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Schatten für Hover-Effekte */
}

.text3:hover {
  transform: translateX(5px); /* Leichtes Verschieben beim Hover */
  background-color: var(--sundaysplit);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Schatten für Hover-Effekte */
}

.Formel1:hover {
  color: var(--sundaysplit);
}

.WDL-nav:hover {
  color: var(--wdl);
}

.ETeam:hover {
  color: var(--endurance);
}

/* Responsives Styling für mobile Geräte */
@media (max-width: 768px) {
  .navbar {
    flex-direction: row; /* Stellt sicher, dass die Navigation in einer Spalte dargestellt wird */
    align-items: flex-start; /* Richtet die Elemente am Anfang aus */
    height: auto; /* Höhe anpassen */
    background-image: url(../resources/pictures/general/footers/startseite.png);
  }

  .menu-toggle {
    display: block; /* Zeigt den Button auf mobilen Geräten */
    align-self: center;
    margin-right: 30px;
    margin-bottom: 10px;
    font-size: 50px;
  }

  .nav-links {
    flex-direction: column; /* Stellt die Links untereinander dar */
    width: 100%; /* Breite auf 100% setzen */
    display: none; /* Standardmäßig verstecken */
  }

  .nav-links.active {
    display: flex; /* Zeigt die Links an, wenn das Menü geöffnet ist */
  }

  .dropdown-content {
    position: static; /* Positionieren, um sich in der Spalte auszubreiten */
    opacity: 1;
    transform: none;
    box-shadow: none; /* Entfernt den Schatten für mobile Ansicht */
    min-width: 100%; /* Breite auf 100% setzen */
  }

  .logo img {
    width: 100px; /* Verkleinert das Logo für kleinere Bildschirme */
    margin: 0; /* Entfernt zusätzliche Margen */
  }

  .nav-links li {
    margin: 10px 0; /* Margin anpassen für vertikale Links */
  }

  .nav-links a {
    font-size: 1em; /* Schriftgröße anpassen */
    padding: 15px; /* Mehr Padding für einfache Klickbarkeit */
  }
}

/*Background Image Index Site*/

body {
  background-image: url(../resources/pictures/general/background.png);
  background-position: center center; /* Zentriert das Bild */
  background-attachment: fixed;
  color: white;
}

.main {
  padding: 0 18vw;
}

.landing_page {
  width: 100%;
  box-shadow: var(--borderpicturesize) var(--sundaysplit);
}

/*Willkommen*/
.welcomequote {
  color: #29e0e1;
  font-size: 120px;
  font-style: bolder;
}

.welcome {
  font-size: 80px;
  position: relative;
  bottom: 12px;
}

/*Icons*/
.features {
  display: flex;
  flex-wrap: wrap; /* Symbole umbrechen, wenn nicht genug Platz ist */
  justify-content: space-evenly;
  gap: 20px;
  margin-top: 30px;
}

.feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px; /* Größe für jedes Feature-Element */
  text-align: center;
}

.feature-item i {
  font-size: 60px;
  color: var(--sundaysplit); /* Farbe der Icons */
  margin-top: 60px;
}

.feature-item p {
  font-family: var(--fontfamilytext);
  margin-top: 10px;
  font-size: 27px;
  margin-bottom: 30px;
}

/*Button Join NOW*/
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: var(--fontfamilytext);
}
.class-button {
  display: flex;
  margin: 40px auto; /* Fügt Abstände hinzu und zentriert den Button in der Mitte */
  padding: 20px 40px; /* Fügt Polsterung hinzu, um den Button größer zu machen */
  background-color: var(--sundaysplit);
  color: white; /* Textfarbe weiß für guten Kontrast */
  border-radius: 8px; /* Abgerundete Ecken */
  font-size: 40px;
  box-shadow: var(--borderpicturesize) var(--sundaysplit); /* Leichter Schatteneffekt */
  text-transform: uppercase;
  text-decoration: none;
}

.class-button:hover {
  color: rgb(0, 0, 0);
  text-decoration: none;
  background: white;
  box-shadow: var(--borderpicturesize) white;
  transform: scale(1.1); /* Leicht vergrößern bei Hover */
  transition: 0.3s ease; /* Weicher Übergang bei Hover */
  cursor: pointer; /* Zeigt eine Hand an, wenn man über den Button fährt */
}

/*H1 Headlines*/
.header > h1 {
  font-family: var(--fontfamilytext);
  font-size: var(--fontsizeheadline);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-top: 40px;
}

/*H1 Headlines Enduracne +  WDL*/
.header2 > h1 {
  font-family: var(--fontfamilytext);
  font-size: 54px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 700px) {
  .header2 > h1 {
    font-size: 30px;
  }
}

/*Flex-every Logo WDL + E Team*/
.flex-leaugelogosnext {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: var(--fontfamilytext);
  font-weight: bolder;
  font-size: var(--font-sizetext);
  margin-top: 60px;
  gap: 150px;
}

.flex-leaugelogos > a {
  color: white;
  text-decoration: none;
}

.flex-leaugelogosnext > a {
  color: white;
  text-decoration: none;
}

.Logosoftheleaguenext {
  max-height: 100%;
  max-width: 400px;
}
/*WDL*/
.overview4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: var(--borderpicturesize) var(--wdl);
  border-radius: var(--borderpictureradius);
}
/*Endurance*/
.overview5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-shadow: var(--borderpicturesize) var(--endurance);
  border-radius: var(--borderpictureradius);
}

.flex-leaugelogos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
  margin-top: 40px;
  font-family: var(--fontfamilytext);
  font-weight: bolder;
  font-size: var(--font-sizetext);
  gap: 90px;
}
/*league1*/

.overview1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: var(--borderpicturesize) var(--sundaysplit);
  border-radius: var(--borderpictureradius);
}
/*league2*/
.overview2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: var(--borderpicturesize) var(--saturdaysplit);
  border-radius: var(--borderpictureradius);
}
/*league3*/
.overview3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: var(--borderpicturesize) var(--fridaysplit);
  border-radius: var(--borderpictureradius);
}

.overview1:hover,
.overview2:hover,
.overview3:hover,
.overview4:hover,
.overview5:hover {
  transform: scale(1.1);
  cursor: pointer; /* Zeigt eine Hand an, wenn man über den Button fährt */
  transition: all 0.3s ease;
}

/*Logos*/
.Logosoftheleague {
  max-height: 100%;
  max-width: 400px;
}
.image-rennkalender {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.image-rennkalender > img {
  max-height: 100%;
  max-width: 1185px;
  border-radius: var(--borderpicture);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--borderpicturesize) var(--sundaysplit);
  border-radius: var(--borderpictureradius);
  margin-top: 100px;
  margin-bottom: 100px;
}

/* Footer DEFAULT FOR EVERY PAGE */
.footer {
  margin-top: 70px;
  padding: 20px;
  text-align: center;
  font-family: var(--fontfamilytext);
  background-image: url(../resources/pictures/general/footers/startseite.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.footer a:hover {
  text-decoration: underline;
}

.footer img {
  height: 20vh;
  width: auto;
}

.footer img:hover {
  transform: scale(1.02);
}

/* Responsive Design für Handys */
@media (max-width: 700px) {
  /* Background Image Index Site */
  body {
    background-size: cover;
  }

  .welcome {
    font-size: 28px;
  }

  /* Icons */
  .feature-item {
    width: 120px; /* Kleinere Größe für kleine Bildschirme */
    gap: -10px;
  }

  .feature-item i {
    font-size: 40px; /* Kleinere Icons für bessere Anpassung */
    margin-top: 30px; /* Weniger Abstand oben */
  }

  .feature-item p {
    font-size: 20px; /* Kleinere Schriftgröße */
    margin-bottom: 20px; /* Weniger Abstand unten */
  }

  /* Quotes */
  .Quotes {
    flex-direction: column; /* Spaltenrichtung für kleinere Bildschirme */
    margin-left: 0;
    gap: 40px; /* Mehr Platz zwischen den Zitaten */
  }

  .quote-container {
    width: 100%; /* Breite auf 100% setzen */
    height: auto; /* Höhe automatisch anpassen */
  }

  .quote-text {
    font-size: 16px; /* Kleinere Schriftgröße */
    padding: 15px; /* Weniger Polsterung */
  }

  /* H1 Headlines */
  .header > h1 {
    font-size: 25px; /* Kleinere Schriftgröße für kleinere Bildschirme */
  }

  /* Flex-every Logo */
  .flex-leaugelogos {
    flex-direction: column; /* Spaltenrichtung für kleinere Bildschirme */
    gap: 80px; /* Weniger Abstand zwischen den Logos */
  }

  .flex-leaugelogosnext {
    flex-direction: column; /* Spaltenrichtung für kleinere Bildschirme */
    gap: 80px; /* Weniger Abstand zwischen den Logos */
  }

  /* League Overviews */

  .overview1 {
    width: 100%; /* Breite auf 100% setzen */
    max-width: 300px; /* Maximalbreite für kleinere Bildschirme */
    box-shadow: var(--borderpicturesize) var(--sundaysplit);
  }
  .overview2 {
    width: 100%; /* Breite auf 100% setzen */
    max-width: 300px; /* Maximalbreite für kleinere Bildschirme */
    box-shadow: var(--borderpicturesize) var(--saturdaysplit);
  }
  .overview3 {
    width: 100%; /* Breite auf 100% setzen */
    max-width: 300px; /* Maximalbreite für kleinere Bildschirme */
    box-shadow: var(--borderpicturesize) var(--fridaysplit);
  }
  .overview4 {
    width: 100%; /* Breite auf 100% setzen */
    max-width: 300px; /* Maximalbreite für kleinere Bildschirme */
    box-shadow: var(--borderpicturesize) var(--wdl);
  }
  .overview5 {
    width: 100%; /* Breite auf 100% setzen */
    max-width: 300px; /* Maximalbreite für kleinere Bildschirme */
    box-shadow: var(--borderpicturesize) var(--endurance);
  }

  /* Logos */
  .Logosoftheleague {
    max-width: 200px; /* Kleinere maximale Breite für Logos */
  }
  /* Logos */
  .Logosoftheleaguenext {
    max-width: 200px; /* Kleinere maximale Breite für Logos */
  }

  .image-rennkalender > img {
    max-width: 300px; /* Kleinere maximale Breite für Bilder */
    margin-top: 50px; /* Weniger Abstand oben */
    margin-bottom: 50px; /* Weniger Abstand unten */
  }
}

@media (max-width: 768px) {
  .class-button {
    padding: 15px 30px;
    font-size: 25px;
    width: auto; /* Stellt sicher, dass der Button sich an die Breite anpasst */
    margin: 0 auto; /* Zentriert den Button auf mobilen Geräten */
  }
}

@media (max-width: 480px) {
  .class-button {
    padding: 10px 20px;
    font-size: 24px;
    width: auto; /* Stellt sicher, dass der Button auf sehr kleinen Bildschirmen anpassbar bleibt */
    margin: 0 auto; /* Sorgt dafür, dass der Button in der Mitte bleibt */
  }
}
