.landing_page {
  width: 100%;
  box-shadow: var(--borderpicturesize) var(--sundaysplit);
}

/*Willkommen Headline*/

/*Icons*/
.features {
  display: flex;
  flex-wrap: wrap; /* Symbole umbrechen, wenn nicht genug Platz ist */
  justify-content: space-evenly;
}

.feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px; /* Größe für jedes Feature-Element */
  text-align: center;
}

.feature-item i {
  font-size: 70px;
  color: var(--sundaysplit);
}

.feature-item p {
  font-size: 27px;
  text-transform: uppercase;
}

/*Button Join NOW*/
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.class-button {
  margin: 40px auto; /* Fügt Abstände hinzu und zentriert den Button in der Mitte */
  padding: 20px 40px; /* Fügt Polsterung hinzu, um den Button größer zu machen */
  border: 5px solid var(--sundaysplit);
  color: white; /* Textfarbe weiß für guten Kontrast */
  border-radius: 8px; /* Abgerundete Ecken */
  font-size: 50px;
  text-transform: uppercase;
  text-decoration: none;
}

.class-button:hover {
  transform: scale(1.1);
  transition: 0.3s ease; /* Weicher Übergang bei Hover */
  cursor: pointer; /* Zeigt eine Hand an, wenn man über den Button fährt */
}

.graphics {
  border: 5px solid var(--sundaysplit);
  border-radius: 8px; /* Abgerundete Ecken */
}

/* Slider*/

.LigenContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.Friday,
.Saturday,
.Sunday,
.WDL,
.Endurance {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: var(--font-sizetext);
}
.Friday img,
.Saturday img,
.Sunday img,
.WDL img,
.Endurance img {
  width: 300px;
}

.fly-in {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.6s ease-out;
}

.fly-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.überschrift {
  text-align: center;
  font-size: var(--fontsizeh2);
  color: var(--administration);
  margin-top: -50px;
  margin-bottom: 100px;
  text-transform: uppercase;
}

.team-grid,
.team-grid2,
.team-grid3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

/* Einheitliche Größe für alle Karten */
.admin-card {
  width: 250px;
  height: 360px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  transition: transform 0.3s ease;
}

.header-image {
  height: 80px;
  background-size: cover;
  background-position: center;
}

.avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 3px solid var(--sundaysplit);
  margin-top: -45px;
  background-color: white;
  object-fit: cover;
}

.admin-card h2,
.admin-card2 h2 {
  margin: 10px 0 5px 0;
  font-size: 33px;
  color: #ffffff;
  text-transform: uppercase;
}

.role {
  color: var(--sundaysplit);
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 6px;
  text-transform: uppercase;
}

.admin-card p,
.admin-card2 p {
  font-size: 18px;
  margin: 0;
  text-transform: uppercase;
}

.überschrift2 {
  text-align: center;
  font-size: var(--fontsizeh2);
  color: #f26eec;
  margin-bottom: 20px;
  margin-top: -40px;
  text-transform: uppercase;
}

.überschrift3 {
  text-align: center;
  font-size: var(--fontsizeh2);
  color: var(--wdl);
  margin-bottom: 20px;
  text-transform: uppercase;
}
.überschrift4 {
  text-align: center;
  font-size: var(--fontsizeh2);
  text-align: center;
  color: var(--wdl);
  margin-bottom: 20px;
  text-transform: uppercase;
}

.überschrift5 {
  margin-top: 80px;
  text-align: center;
  font-size: var(--fontsizeh2);
  text-align: center;
  color: var(--wdl);
  margin-bottom: 20px;
  text-transform: uppercase;
}
.überschrift6 {
  text-align: center;
  font-size: var(--fontsizeh2);
  text-align: center;
  color: #923bfe;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.überschrift7 {
  text-align: center;
  font-size: var(--fontsizeh2);
  text-align: center;
  color: var(--endurance);
  margin-bottom: 20px;
  text-transform: uppercase;
}

.überschrift8 {
  text-align: center;
  font-size: var(--fontsizeh2);
  text-align: center;
  color: var(--rennleitung);
  margin-bottom: 20px;
  text-transform: uppercase;
}

.flexcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flexcontainer2 {
  background-color: transparent;
  width: 100%;
  max-width: 700px;
}
.admin-group2 {
  display: flex; /* -> nebeneinander statt untereinander */
  flex-wrap: wrap; /* -> bei wenig Platz auch untereinander möglich */
  gap: 20px; /* -> Abstand zwischen den Karten */
  justify-content: center; /* -> Karten zentrieren */
  gap: 100px;
  text-align: center;
}

@media (max-width: 768px) {
  body {
    background-size: cover;
  }

  .welcomequote {
    font-size: 100px;
  }

  .welcome {
    font-size: 28px;
  }

  /* Icons */

  .feature-item i {
    font-size: 40px; /* Kleinere Icons für bessere Anpassung */
    margin-top: 30px; /* Weniger Abstand oben */
  }

  .feature-item p {
    font-size: 20px; /* Kleinere Schriftgröße */
    margin-bottom: 20px; /* Weniger Abstand unten */
  }

  /* H1 Headlines */
  body h1 {
    font-size: 25px;
  }

  .class-button {
    padding: 15px 30px;
    font-size: 25px;
    width: auto; /* Stellt sicher, dass der Button sich an die Breite anpasst */
    margin: 0 auto; /* Zentriert den Button auf mobilen Geräten */
  }
}
