year-button:hover {
  color: var(--sundaysplit);
}

.timeline-line {
  background: var(--sundaysplit);
}
.info-box {
  border: 2px solid var(--sundaysplit);
}
.active-dot {
  background-color: var(--sundaysplit);
}

.carousel-btn {
  background-color: var(--sundaysplit);
}

.class-button {
  border: 5px solid var(--sundaysplit) !important;
}
.team-card {
  border-left: 4px solid var(--sundaysplit);
  border-right: 4px solid var(--sundaysplit);
}

.middle-carousel {
  width: 800px;
  height: 800px;
  text-align: center;
  margin-bottom: 200px;
}

.carousel-track-container {
  border: 5px solid var(--sundaysplit);
}

.middle-carousel .carousel,
.middle-carousel .carousel-track-container,
.middle-carousel .carousel-track img {
  width: 800px;
  height: 800px;
  border-radius: 20px;
}
